<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin Dashboard</title>
    <% include partials/head%>

  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">

        <!-- sidebar -->
        <% include partials/sidebar%>
        <!-- /sidebar -->

        <!-- top navigation -->
        <% include partials/topbar%>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Cameras</h3>
              </div>

            </div>

            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <table id="datatable-buttons" class="table table-striped table-responsive table-bordered">
                    <thead>
                    <tr>
                      <th>Patient ID</th>
                      <th>Name</th>
                      <th>Bed Number</th>
                      <th>Room Number</th>
                      <th>Remove Patients</th>
                      <th>View Stream</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                      <tbody>
                      <% for(var i=0; i<patients.length; i++) {%>
                      <tr>
                        <td><%= patients[i].patientID%></td>
                        <td><%= patients[i].name%></td>
                        <td><%= patients[i].bed%></td>
                        <td><%= patients[i].room%></td>
                        <td>
                        <!--href="../Patient/removePatient?patientID=<%= patients[i].patientID%>"-->
                          <a href="removePatient?patientID=<%= patients[i]._id%>" class="btn btn-danger btn-icon btn-block" >
                            <span class="icon text-white-50">
                              <i class="fa fa-trash"></i>
                            </span>
                            <span class="text">Remove Patient</span>
                          </a>
                        </td>
                        <td>
                        <!--href="../Patient/removePatient?patientID=<%= patients[i].patientID%>"-->
                          <a href="/video/stream.html?c=<%= patients[i].cameraID %>" target="_blank" class="btn btn-primary btn-block" >
                            <span class="icon text-white-50">
                              <i class="fa fa-eye"></i>
                            </span>
                            <span class="text">View Stream</span>
                          </a>
                        </td>
                        <td>
                            <% if(camera[patients[i].cameraID]=="disabled"){ %>
                           <a href="changeStream?cameraID=<%= patients[i].cameraID%>&status=enable" class="btn btn-success btn-block" >
                            <span class="icon text-white-50">
                              <i class="fa fa-play"></i>
                            </span>
                            <span class="text">Enable</span>
                          </a>
                          <% } else{ %>
                              <a href="changeStream?cameraID=<%= patients[i].cameraID%>&status=disable" class="btn btn-danger btn-block" >
                               <span class="icon text-white-50">
                                 <i class="fa fa-stop"></i>
                               </span>
                               <span class="text">Disable</span>
                             </a>
                             <%}%>
                        </td>
                      </tr>
                      <%}%>
                    </tbody>
                    </table>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <% include partials/footer%>
        <!-- /footer content -->
      </div>
    </div>
    <script>
    function deleteItem(id) {
      $.get('../Patient/removePatient?patientID=' +id);
      $(id).closest("tr").remove();
    }
    </script>
    <!-- Bottom Scripts-->
    <% include partials/bottomScripts%>
    <!-- /Bottom Scripts-->
	
  </body>
</html>